body{
  margin: 5%;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

h2 { 
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
p{
  text-align: justify;
}

.workOnText{
  display:block;
  position: relative;
  background-color: rgb(231, 224, 224);
  padding: 10px;
}

.font_interval-1px{
    letter-spacing: 1px;
}

.font_interval-3px{
  letter-spacing: 3px;
}

.font_interval--1px{
  letter-spacing: -1px;
}

.word_interval-3px{
  word-spacing: 3px;
}

.word_interval-0px{
  word-spacing: 0px;
}

.text_uppercase{
  text-transform: uppercase;
}

.text_small-caps{
  font-variant: small-caps;
}

p span{
  text-transform: uppercase;
}

.text-capitalizer{
  text-transform: capitalize;
}

.last-line-right{
  text-align-last: right; 
}

.hyph_indent{
  white-space: pre-wrap;
}

.width200 {
  display: block;
  position: inherit;
  width: 200px;
  border: 1px solid black;
}

pre{
  white-space: pre;
}

.pre_style{
  white-space: pre;
}

.pre-wrap_style{
  white-space: pre-wrap;
}

.pre-line_style{
  white-space: pre-line;
}